@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  scroll-margin-top: 4rem;
}

.menu-item {
  @apply cursor-pointer hover:text-orange-400 p-1.5;
}

.menu-btn {
  @apply bg-black font-medium px-4 py-1.5 rounded-lg text-white text-center text-sm hover:bg-gray-800;
}
