---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section class="w-full md:w-3/5 lg:w-2/5 mx-auto py-12 px-4">
    <h2 class="text-2xl font-semibold text-center mb-8">Contáctame</h2>

    <form
      name="contact"
      method="POST"
      data-netlify-recaptcha="true"
      data-netlify="true"
      class="space-y-6"
    >
      <!-- Hidden input for Netlify -->
      <input type="hidden" name="form-name" value="contact" />

      <!-- Email Field -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">
          Correo electrónico
        </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-slate-800 focus:border-slate-500 sm:text-sm"
        />
      </div>

      <!-- Subject Field -->
      <div>
        <label for="subject" class="block text-sm font-medium text-gray-700">
          Asunto
        </label>
        <input
          type="text"
          id="subject"
          name="subject"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-slate-800 focus:border-slate-500 sm:text-sm"
        />
      </div>

      <!-- Message Field -->
      <div>
        <label for="message" class="block text-sm font-medium text-gray-700">
          Mensaje
        </label>
        <textarea
          id="message"
          name="message"
          rows="4"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-slate-800 focus:border-slate-500 sm:text-sm"
        ></textarea>
      </div>

      <!-- Recaptcha -->
      <div data-netlify-recaptcha="true"></div>

      <!-- Submit Button -->
      <div class="text-center">
        <button
          type="submit"
          class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-slate-800 hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500"
        >
          Enviar
        </button>
      </div>
    </form>
  </section>
</Layout>
