---
import SectionTitle from "../../ui/SectionTitle.astro";
import { skills } from "../../../libs/skillsData";
---

<section id="skills" class="bg-slate-100 p-6 md:p-12">
  <SectionTitle>Habilidades</SectionTitle>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      skills.map((skillCategory) => (
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-xl text-center font-semibold mb-4">
            {skillCategory.title}
          </h3>

          <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
            {skillCategory.items.map((item) => (
              <div class="flex flex-col items-center justify-center gap-2">
                {item.icon && <item.icon className="h-8 w-8" />}
                <span class="text-sm">{item.name}</span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
