---
import LinkButton from "../../ui/LinkButton";
import GitHubIcon from "../../icons/GitHubIcon.astro";
import LinkedInIcon from "../../icons/LinkedInIcon.astro";
---

<div class="flex items-center justify-center py-12 px-6 md:px-12">
  <section
    id="home"
    class="bg-slate-50 border flex flex-col rounded-2xl shadow-md w-full md:w-5/6 lg:w-4/6"
  >
    <!-- Card -->
    <div class="flex flex-col gap-6 p-6 md:p-12">
      <!-- Details -->
      <div class="flex flex-col md:flex-row items-center gap-6">
        <img
          class="rounded-full h-24 w-24 md:h-32 md:w-32 border border-gray-300 shadow-md object-cover"
          src="/assets/images/profile.webp"
          alt="profile"
          loading="eager"
        />

        <div class="text-center md:text-left space-y-2 md:space-y-1">
          <h1 class="font-bold text-xl leading-tight md:text-2xl">
            Gustavo Alonso Pascual Andrade
          </h1>
          <h2 class="font-medium text-base leading-snug md:text-lg">
            Desarrollador Web
          </h2>
          <span class="block font-light text-sm md:text-base">
            Hidalgo, Michoacán. México
          </span>
        </div>
      </div>

      <!-- Bio -->
      <div class="text-justify">
        <p
          class="text-sm md:text-base leading-relaxed md:leading-loose tracking-tight md:tracking-normal"
        >
          En mi trayectoria como desarrollador web, me he enfocado en el
          frontend, dominando las tecnologías más actuales y relevantes del
          sector. Recientemente, he ampliado mis conocimientos al explorar el
          desarrollo backend, con el objetivo de llevar a cabo proyectos
          integrales de manera independiente.
        </p>
        <p
          class="text-sm md:text-base leading-relaxed md:leading-loose tracking-tight md:tracking-normal"
        >
          Busco formarme como desarrollador fullstack, con la finalidad de
          ofrecer soluciones completas y de calidad. Actualmente, estoy
          ampliando mis conocimientos y aprendiendo nuevas tecnologías, como
          Angular y SpringBoot, para seguir mejorando mis habilidades y
          adaptarme a las necesidades del mercado.
        </p>
      </div>

      <!-- Social -->
      <div>
        <h3 class="font-bold text-lg">Encuéntrame en:</h3>
        <div class="flex gap-4 mt-2">
          <a
            aria-label="GitHub profile"
            href="https://github.com/Gustavoand39"
            target="_blank"
            rel="noopener noreferrer"
          >
            <GitHubIcon className="h-6 w-6" />
          </a>

          <a
            aria-label="LinkedIn profile"
            href="https://www.linkedin.com/in/gustavo-alonso-p-66776a286/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <LinkedInIcon className="h-6 w-6" />
          </a>
        </div>
      </div>

      <!-- Curriculum -->
      <div class="text-center">
        <LinkButton
          ariaLabel="Download CV"
          href="/assets/docs/Gustavo_Alonso_Pascual_Andrade.pdf"
          className="rounded-full"
        >
          Ver CV
        </LinkButton>
      </div>
    </div>
  </section>
</div>
