---
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/layout/Header";
import Footer from "../components/layout/Footer.astro";

const { title } = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio de Gustavo, un desarrollador web especializado en frontend con experiencia en HTML, CSS, JavaScript, React y NextJS. Descubre proyectos, habilidades y contacto."
    />
    <title>{title}</title>
    <meta name="robots" content="index, follow" />
    <ViewTransitions />
  </head>

  <body
    class="bg-white text-gray-700 flex flex-col justify-center min-h-screen"
  >
    <Header client:visible />

    <main class="flex-1 w-full pt-16">
      <slot />
    </main>

    <Footer />
  </body>
</html>
