---
import SectionTitle from "../../ui/SectionTitle.astro";
import ProjectCard from "./ProjectCard.astro";

export const projects = [
  {
    key: "SysChat",
    title: "SysChat",
    image: "/assets/images/sys-chat/sys-login.webp",
  },
  {
    key: "InventoryApp",
    title: "Inventory App",
    image: "/assets/images/inventory/inventory-login.webp",
  },
  {
    key: "TesloShop",
    title: "Teslo Shop",
    image: "/assets/images/teslo-shop/teslo-home.webp",
  },
  {
    key: "SpotifyClone",
    title: "Spotify Clone",
    image: "/assets/images/spotify-clone/spotify-clone.webp",
    repo: "https://github.com/Gustavoand39/spotify-clone",
  },
];
---

<section id="projects" class="bg-slate-100 flex items-center justify-center">
  <div class="py-12 px-6 md:px-12">
    <SectionTitle>Proyectos Destacables</SectionTitle>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>
